body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #CCCCCC;
}

.container{
    width: 600px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #210D25, #641F6F);
    padding: 20px;
    color: white;
}

.header-title{
    color: #FECD23;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500px;
    margin: 0;
}

header{
    margin-bottom: 32px;
}

p{
    text-align: center;
}

main{
    background-image: linear-gradient(to top, #210D25, #641F6F);
    padding: 16px;
    
}

.main-title{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

.input-form{
    text-align: center;
    padding: 16px;
}

input{
    padding: 6px;
    margin-bottom: 16px;
    width: 70%; 
    border-radius: 5px; 
    border: 0;  
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px #210D25;
}

.sectorvoting{
    margin-top: 30px;
}

.sectorvoting section{
    background-image: linear-gradient(to bottom, #4062EF, #70C7FE);
    border: 10px solid #2638DB;
    padding: 16px;
}

