body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #CCCCCC;
}

.container{
    width: 600px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #210D25, #641F6F);
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.header-title{
    color: #FECD23;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500px;
    margin: 0;
    padding-bottom: 16px;
}

header{
    margin-bottom: 48px;
}

p{
    text-align: center;
}

main{
    background-image: linear-gradient(to top, #210D25, #641F6F);
    padding: 16px;
    border-radius: 10px;
}

.main-title{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

.input-form{
    text-align: center;
    padding: 16px;
}

input{
    padding: 6px;
    margin-bottom: 26px;
    width: 70%; 
    border-radius: 5px; 
    border: 0;  
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px #210D25;
}

.sectorvoting{
    margin-top: 20px;
    display: flex; 
}

.sectorvoting section{
    background-image: linear-gradient(to bottom, #4062EF, #70C7FE);
    border: 10px solid #2638DB;
    padding: 16px;
    width: 30%;
    box-sizing: border-box;
    margin-right: 5%;
    border-radius: 5px;
}

.titleoption{
    text-align: center;
    font-size: 20px;
    margin-top: 16px;
}

.image{
    width: 115px;
    margin: 0 auto;
}    

.button{
    padding: 12px 16px 0 16px;
}

button{
    width: 100%;
    padding: 12px 24px;
    font-size: 14px;
    color: white;
    background-color: #210D25;
    border: 0;
    border-radius: 5px;
}

button:hover{
    background-color: #3C1443;
    cursor: pointer;
    transition: 1s;
}

footer{
    color: white;
    font-size: 12px;
    font-weight: 600px;
    text-align: center;
    margin-top: 10px;
}




